#forge
CREDITS-fml.txt
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
README.txt
forge-*-changelog.txt

#eclipse
eclipse
.project
.classpath
.settings
bin

#idea
*.iml
*.ipr
*.iws
.idea
out

#gradle
build
.gradle